CompileFlags:
  Add:
    - -I/home/parxed/code/cuda-optim/cutlass/include/
    - -I/home/parxed/code/cuda-optim/cutlass/tools/util/include/
    - -I/home/parxed/code/cuda-optim/cutlass/examples/common/